@import url("corpo-slides.css");
@import url("corpo-compras.css");
@import url("corpo-produto.css");


.corpo__titulo {
font-size: 32px;
text-align: center;
text-transform: uppercase;
margin-bottom: 10px;
}

.hr1 {
border: 2;
height: 3px;
background-image: linear-gradient(to right, transparent, var(--verde), transparent);  
}

.resposta__api {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}

.ordenar_produtos--pai {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.mensagem__user-log {
    margin: 1em 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-decoration: none;
}

.botões {
display: flex;
}

.card { 
width: 200px;
display: block;
background: var(--branco);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin: 1em;
padding: 1em;
margin-right: auto;
}

.descrição {
  margin-left: 2em;
}

.descrição__imagem {
  width: 217px;
  height: 210px;
}

.descrição__produto {
color: var(--preto);
font-size: 22px;
font-weight: 700;
}

.descrição__produto-01 {
color: var(--preto);
font-size: 14px;
font-weight: 700;
margin: 0.5em 0;
}

.descrição__texto {
font-size: 14px;
}

.img {
width: 50px;
display: flex;
margin-left: 0.5em;
}

.botões__item {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.comprar {
background-color: var(--verde);
padding: 1em 2.2em;
color: var(--preto);
font-weight: 700;
text-decoration: none;
}

.comprar:hover {
  color: white;
}

.link__aviso {
text-align: center;
text-decoration: none;
display: flex;
}

.paginacao__busca {
  color: var(--preto); 
  text-align: center;
  text-decoration: none;
  background-color: white;
  margin-bottom: 50px;

}

.mensagem__user-log {
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {

.resposta__api {
  justify-content: center;
  display: flexbox;
  }

  .ordenar_produtos--pai {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

.card {
  width:auto
  margin: 2em auto;
}
}

@media screen and (min-width: 1728px) {

.ordenar_produtos {
display: flex;
}

.descrição__titulo {
  font-size: 32px;
}

.descrição__texto {
  font-size: 16px;
}

.descrição {
  margin-right: 2em;
}

.card {
  width: 200px;
  margin-left: 3em;
}
.resposta__api {
  justify-content: center;
  display: flex;
  }

}