.centralizar_compras {
    display: flex;
    justify-content: center
}

.card__compras {
    position:relative;
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 1em;
    display: inline-flex;
    margin: 0 auto;
}

.ordenar_produtos--pai__compras {
    flex-direction: column;
    align-items: center;
    display: block;
    margin: 0 30vw 5em 30vw;
}

.ordenar_produtos__compras {
    display: block;
    align-items: center;
}

.fonte__compras {
    margin: 20px;
    font-size: 20px;
}
.tabela__compras__finalizadas {
    margin: 0 auto;
    width: 50%;
}

.img__compras {
    width: 50px;
    display: flex;
    margin-left: 0.5em;
}

.lixeira__compras {
    background-color: white;
}

.mensagem_aviso {
    color: red;
    
}