@import url("header-menuh.css");

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
	align-items: center;
		
}

.container {
    display: flex;
    align-items: center;
	
}

.container__imagem {
    padding: 1em;
	width: 30px;
	margin-left: 4em;
}

.container__texto {
    display: none;
}
.container__texto-link {
    display: flex;
    text-decoration: none;
}

.titulo__alinhado {
	display: flex;
    justify-content: center;
}

.container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 23px;
		margin-left: 60px;
    }

.container__titulo {
		font-weight: 300;
        display: block;
    }

.container__titulo--negrito {
		font-weight: 500;
    }

.container__link {
		display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
	
.pesquisa__area {
	display: none;
}

        /* pesquisa */

        .form-container2 {
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
        }
        
        
        label {
            display: block;
            margin-bottom: 5px;
        }
        
        input[type="search"] {
            flex: 1; 
            margin-right: 0px; 
            width: 100%;
            padding: 8px;
            border: 1px solid var(--verde);
            border-radius: 3px;
        }
        
        button {
            background-color: var(--verde);
            color: var(--preto);
            padding: 8px 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        
        button:hover {
            background-color: var(--verde);
        }
        
        img {
            vertical-align: middle;
        }
 
            
@media screen and (min-width: 1024px) {

	.form-container2 {
	display: none;
}
	
.container__imagem {
    padding: 2em;
	width: 30px;
	margin-left: 2em;
}
	
.container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 22px;
		margin-left: 40px;
		
    }	
	
.container__imagem-transparente {
		display: none;
	}	
	
.pesquisa__area {
	display: flex;
    align-items: center;
	width: 300px;
	justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    margin: 20px auto;
    width: 300px;
    padding: 0.5px;
    border: 1px solid var(--verde);
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="search"] {
    flex: 1; 
    margin-right: 0px; 
    width: 100%;
    padding: 6px;
    border: 1px solid var(--verde);
    border-radius: 3px;
}

button {
    background-color: var(--verde);
    color: var(--preto);
    padding: 6px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: var(--verde);
}

img {
    vertical-align: middle;
}
	
	.hamburger {
    display: none;
}

}

@media screen and (min-width: 1728px) {
    
	
.cabeçalho {
		padding: 0 2em;
	}
	
.container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
		margin-left: 60px;
		
    }
	
.pesquisa__area {
	display: flex;
	width: 600px; 
	justify-content: center;
    align-items: center;
}
		
.header {
		padding: 6em 0;
	}

.container__texto {
        display: flex;
        text-decoration: none;
    }
}